﻿@model Rekla.ViewModel.ExternalLoginListViewModel
@using Microsoft.Owin.Security
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="card">
<div class="card-header text-center">
    <h6>Don't have an account, Sign in Using. </h6>
</div>
    <div class="card-body">
        @{
            var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
            if (loginProviders.Count() == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
                {
                    @Html.AntiForgeryToken()
                    <div id="socialLoginList">
                        <p>
                            @foreach (AuthenticationDescription p in loginProviders)
                            {
                                <div class="social_item">
                                    <button type="submit" class="btn btn-default btn-@p.AuthenticationType social-btn" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                        <i class="fa fa-@p.Caption"></i>

                                        Login with @p.AuthenticationType
                                    </button>
                                </div>

                            }
                        </p>
                    </div>
                }
            }
        }
    </div>
</div>





<style>
    .social_item{
        display:block;
        padding:10px;
    }
    .social-btn{
        width:100%
        
    }
    .social-btn>i{
        border-right:1px solid white;
        float:left;
        padding-left:10px;
        padding-right:10px;
    }
    .btn-Google {
        background: #e0492e !important;
        color:white
    }
    .btn-Facebook {
        background: #3c66c4 !important;
        color: white
    }

</style>