﻿@model Rekla.ViewModel.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-8">
            <h3 class="text-center">Select A plan and fill the form.</h3>
            <div class="row">
                
                <div class="col-md-6">
                   
                    <div class="card">
                        <div class="card-header">
                            <h2>
                                <label>  <input name="Subscription" value="0" type="radio" checked />Free</label>
                            </h2>
                        </div>
                        <div class="card-body" style="background-color:#bfbfbf">
                            <h4>No Extra privlege</h4>
                        </div>

                    </div>
                     
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h2><label><input name="Subscription" value="100" type="radio" />&#x20b9; 100</label></h2>

                        </div>
                        <div class="card-body" style="padding:0px">
                            <img src="~/Content/Rs100.png" class="img img-fluid" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Create a new account.</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.Name)         
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = " control-label" })
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = " control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
        </div>
    </div>




    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
