﻿@model Rekla.Model.City

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>City</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

    </dl>
</div>

<table class="table">
    @foreach(var service in Model.Services)
    {
        <tr>
            <td>@service.Name</td> 
            <td>@service.ServiceId</td>
            <td><a href="/admin/cities/removeService/?Id=@Model.CityId&serviceId=@service.ServiceId">Remove Service</a></td>
        </tr>
    }

</table>
<form method="post" action="/admin/cities/addService">
    @Html.Hidden("Id",Model.CityId)
    @Html.DropDownList("Services")
    <button>Save</button>
</form>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
