﻿@model Rekla.ViewModel.PaymentsViewModel



<section class="features">

    <div class="container">
        <h3>Details Of Payment.</h3>
        <table class="table table-bordered table-striped">

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Source)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Source)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.TaskId)
                </td>

                <td>
                    @Html.DisplayFor(model => model.TaskId)
                </td>
            </tr>
            <tr>
            <td>
                @Html.DisplayNameFor(model => model.Amount)
            </td>

            <td>
                @Html.DisplayFor(model => model.Amount)
            </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.PaymentDiscription)
                </td>

                <td>
                    @Html.DisplayFor(model => model.PaymentDiscription)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.PaymentMode)
                </td>

                <td>
                    @Html.DisplayFor(model => model.PaymentMode)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.PaymentGateUsed)
                </td>

                <td>
                    @Html.DisplayFor(model => model.PaymentGateUsed)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.IssuedOn)
                </td>

                <td>
                    @Html.DisplayFor(model => model.IssuedOn)
                </td>

            </tr>
        </table>

    </div>
</section>
