﻿@model IEnumerable<Rekla.ViewModel.PaymentsViewModel>



<section class="features">
    <div class="container">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Source)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaskId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentDiscription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentMode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentGateUsed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IssuedOn)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                     <a href="@Url.Action("Details",new { id=item.Id, area="Users"})">@Html.DisplayFor(modelItem => item.Source)</a>  
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentDiscription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentMode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentGateUsed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssuedOn)
                    </td>
                   
                </tr>
            }

        </table>
</div>
</section>