﻿@model Rekla.Model.ServiceQuestioner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServiceQuestioner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Service.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Questioner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Questioner)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceQuestionerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
