﻿@model IEnumerable<Rekla.Model.ServiceQuestioner>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Service.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Questioner)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Service.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Questioner)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceQuestionerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceQuestionerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceQuestionerId })
        </td>
    </tr>
}

</table>
