﻿
<div ng-controller="CityController">
    <section id="pricing-table" class="container">

        <div class="row-fluid center clearfix">

            <div class="row-fluid">
                <h1>List Of Services Offered in {{city}}</h1>
                <div class="col-md-4" ng-repeat="serv in service">
                   
                    <ul class="list-group">

                        <li class="list-group-item" style="background-color:#139a7f;;text-align:center; margin-top: 10px">
                            <a style="color:white !important" href="#!/{{city}}/{{serv.Name}}">{{serv.Name}}</a><i class=""></i>
                        </li>

                    </ul>
                </div>

            </div>

        </div>




    </section>
</div>