﻿

<div ng-controller="MainController">
    <section id="pricing-table" class="container">

        <div class="row-fluid center clearfix">

            <div class="row-fluid">

                <div class="col-md-4" ng-repeat="cit in city">

                    <ul class="list-group">

                        <li class="list-group-item" style="background-color:#139a7f;;text-align:center; margin-top: 10px">
                            <a style="color:white !important" href="#!/{{cit.Name}}" >{{cit.Name}}</a>
                        </li>

                    </ul>
                </div>

            </div>

        </div>
    </section>
</div>