﻿<style>
    .error {
        color: red;
    }


    .list-group-item1 {
        position: relative;
        display: block;
        
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #ddd;
        
    }
        .list-group-item1 label {
            padding: 10px 15px;
            display: block;
            cursor: pointer;
        }
</style>
<div ng-controller="QuestionController" ng-keypress="KeyPress($event)">
    <ng-form name="myForm" novalidate>
        <div ng-switch="Form">

            <div ng-switch-when="0">
                <h3>Please Answer few question so we could optimize our Service!</h3>
                <span>{{City}}</span> &gt; <span>{{Service}}</span> &gt; <span>No Question {{index+1}}/{{Question.length}}</span>
                <div>
                    <button ng-click="Next()" class="btn btn-success pull-right"><i class="fa fa-play"></i> Next</button>
                    <h3>{{SelectedQuestion.QuestionTitle}}</h3>
                    <div ng-switch="SelectedQuestion.TypeOfQuestion">
                        <div ng-switch-when="0">
                            <textarea class="form-control" ng-model="SelectedQuestion.Ans" show-focus="SelectedQuestion.TypeOfQuestion"></textarea>
                        </div>
                        <div ng-switch-when="1">
                            <input type="text" class="form-control" ng-model="SelectedQuestion.Ans" show-focus="SelectedQuestion.TypeOfQuestion==0" />
                        </div>
                        <div ng-switch-when="2">
                            <ul class="list-group">
                                <li ng-repeat="i in SelectedQuestion.Options " class="list-group-item1">
                                    <label> <input type="checkbox" ng-model="i.Ans" /> {{i.AnswerOption}}</label>
                                </li>
                                <!--<li ng-repeat="p in SelectedQuestion.Answer" class="list-group-item">
                                    {{p}}
                                </li>-->
                            </ul>
                        </div>
                        <div ng-switch-when="3">
                            <ul class="list-group">
                                <li ng-repeat="i in SelectedQuestion.Options" class="list-group-item1" >
                                    <label> <input type="radio" ng-model="SelectedQuestion.Ans" name="{{SelectedQuestion.QuestionTitle}}" value="{{i.AnswerOption}}" /> {{i.AnswerOption}}</label> 
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button ng-click="Next()" class="btn btn-success pull-right"><i class="fa fa-play"></i> Next</button>
                    <!--<button ng-click="Previous()" class="pull-left"><i class="glyphicon glyphicon-next"></i> Previous</button>-->
                </div>
            </div>
            <div ng-switch-when="1">
                <h3>Final Step</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="Name" ng-model="Model.Name" required />
                                <div role="alert">
                                    <span class="error" ng-show="myForm.Name.$error.required">
                                        Please enter your name.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Date</label>
                                <input type="text" class="form-control" name="Date" ng-model="Model.Date" required bs-datepicker/>
                                <div role="alert">
                                    <span class="error" ng-show="myForm.Date.$error.required">
                                        Please enter date.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Time</label>
                                <input type="text" class="form-control" ng-model="Model.Time" bs-timepicker/>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control" name="City" ng-model="Model.City" required />
                                        <div role="alert">
                                            <span class="error" ng-show="myForm.City.$error.required">
                                                Please enter your city.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Area</label>
                                        <input type="text" class="form-control" name="Area" ng-model="Model.Area" required />
                                        <div role="alert">
                                            <span class="error" ng-show="myForm.Area.$error.required">
                                                Please enter your area.
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            
                            
                            <div class="form-group">
                                <label>Mobile No</label>
                                <input type="text" class="form-control" name="MobileNo" ng-model="Model.MobileNo" ng-pattern="phoneNumbr" required />
                                <div role="alert">
                                    <span class="error" ng-show="myForm.MobileNo.$error.required">
                                        Please enter your mobile number.

                                    </span>
                                    <span class="error" ng-show="myForm.MobileNo.$error.pattern">Mobile number should contain  only digits and should not exceed 10 digit number.</span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name="Email" ng-model="Model.Email" ng-pattern="emailerror" required />
                                <div role="alert">
                                    <span class="error" ng-show="myForm.Email.$error.required">
                                        Please enter your email.
                                    </span>
                                    <span class="error" ng-show="myForm.Email.$error.pattern">Please enter a valid email.</span>

                                </div>
                            </div>

                            <input type="button" value="Submit" ng-click="Save()"  class="btn btn-success pull-right"/>
                            <!--<input type="submit" value="Submit"  />-->

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </ng-form>
    </div>
