﻿<div ng-controller="UserController">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="Model.Name" />
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input type="text" class="form-control" ng-model="Model.Date" />
                </div>
                <div class="form-group">
                    <label>Time</label>
                    <input type="text" class="form-control" ng-model="Model.Time" />
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" ng-model="Model.City" />
                </div>
                <div class="form-group">
                    <label>Area</label>
                    <input type="text" class="form-control" ng-model="Model.Area" />
                </div>
                <div class="form-group">
                    <label>Mobile No</label>
                    <input type="text" class="form-control" ng-model="Model.MobileNo" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" ng-model="Model.Email" />
                </div>
                <input type="button" value="Submit" ng-click="Save()" />
            </div>
        </div>
    </div>
</div>