﻿@model Rekla.Model.User

@{
    ViewBag.Title = "Details";
    var Roles = ViewBag.Role;
}

<h2>Details</h2>



<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <ul>
            @foreach (var i in Roles)
            {
                <li>

                    @Html.ActionLink((string)i.Name+(Model.Roles.Any(o=>o.RoleId==i.Id)?" Remove":" Add"),"AddRole",new { roleName=i.Name,userId= Model.Id})
                </li>
            }
        </ul>
       
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
