﻿@model IEnumerable<Rekla.Web.UI.Areas.Admin.Models.Role>
@{
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>
<form action="/admin/Users/SaveRole" method="post">
    <div class="form-group">
        <label>Role Name</label>
        <input type="text" name="Name" />

    </div>
    <button class="btn btn-success">Save</button>
</form>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Role Name</th>
        <td></td>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.Id</td>
            <td>@i.Name</td>
            <td>@Html.ActionLink("Delete","deleteRole",new {id=i.Id })</td>
        </tr>
    }
    
</table>