﻿@model Rekla.ViewModel.ServicePaymentVM
<section class="content-header">
    <h1>
        Make Payment
    </h1>

</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(i => i.Id)
                <div class="box box-primary">
                    <div class="box-header with-border">

                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Source,  htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Source, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Source, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TaskId,"Task Id",  htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.TaskId, new { htmlAttributes = new { @class = "form-control" }})
                            @Html.ValidationMessageFor(model => model.TaskId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PaymentDiscription, "Payment Description", htmlAttributes: new {@class = " "})
                            @Html.EditorFor(model => model.PaymentDiscription, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.PaymentDiscription, "", new {@class = "text-danger"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PaymentMode, "Payment Mode", htmlAttributes: new {@class = " "})
                            @Html.EditorFor(model => model.PaymentMode, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.PaymentMode, "", new {@class = "text-danger"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PaymentGateUsed, "Payment Gateway", htmlAttributes: new {@class = " "})
                            @Html.EditorFor(model => model.PaymentGateUsed, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.PaymentGateUsed, "", new {@class = "text-danger"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IssuedOn, "Paid On", htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.IssuedOn, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.IssuedOn, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="~/Provider/ServicePayment/index" class="btn btn-danger pull-right" style="margin-right: 5px"><i class="fa fa-remove"></i></a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>


