﻿@model Rekla.Web.UI.Areas.Operator.Models.OperatorUser
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<form action="/Operator/operator/Create" method="post">
    @Html.ValidationSummary()
    <div class="form-group">
        <label>
            Name
        </label>
        @Html.TextBoxFor(i=>i.Name, htmlAttributes: new { @class="form-control"})
    </div>
    <div class="form-group">
        <label>
            Address
        </label>
        @Html.TextBoxFor(i => i.Address, htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>
            Phone Number
        </label>
        @Html.TextBoxFor(i => i.PhoneNumber, htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>
            Email
        </label>
        @Html.TextBoxFor(i => i.Email, htmlAttributes: new { @class = "form-control" })
    </div>
    <button class="btn btn-success">Save</button>
</form>
