﻿<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">


        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>

        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
                <a href="/Admin/Dashboard/">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

            </li>

            <!--Feed-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-archive"></i>
                    <span>Master Entries</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                    <a href="@Url.Action("Index", "Cities", new {area = "admin"})">
                    <i class="fa fa-circle-o"></i>Cities</a></li>
                    <li>
                    <a href="@Url.Action("Index", "Categories", new {area = "admin"})"><i class="fa fa-circle-o"></i>Categories</a>
                    </li>
                    <li>
                        <a href="/admin/services"><i class="fa fa-circle-o"></i>Services</a>
                    </li>
                    <li>
                        <a href="/admin/ServiceProviderProfiles"><i class="fa fa-circle-o"></i>Service Providers</a>
                    </li>
                   
                </ul>
            </li>

            @*<!--Post-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>Post</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu"></ul>
            </li>
            <!--Reasoning Root-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>Reasoning Root</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Reasoning", new {area = ""})"><i class="fa fa-circle-o"></i>Reasoning</a></li>
                </ul>
            </li>
            <!--Workbook-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>Work Book</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Schools", new {area = ""})"><i class="fa fa-circle-o"></i>School</a></li>
                    <li><a href="@Url.Action("Index", "Classes", new {area = ""})"><i class="fa fa-circle-o"></i>Class</a></li>
                    <li><a href="@Url.Action("Index", "Subject", new {area = ""})"><i class="fa fa-circle-o"></i>Subject</a></li>
                    <li><a href="@Url.Action("Index", "Books", new {area = ""})"><i class="fa fa-circle-o"></i>Book</a></li>
                    <li><a href="@Url.Action("Index", "SyllabusDates")"><i class="fa fa-circle-o"></i>Syllabus/Test</a></li>

                </ul>
            </li>

            <!--Application User-->

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>User</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Users", new {area = "AppUsers"})"><i class="fa fa-circle-o"></i>Users</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>New Registration</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>User List</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>Find User</a></li>

                </ul>
            </li>

            <!--Web Statics-->

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>Statics</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu"></ul>
            </li>

            <!--Setting-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>Setting</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Setting", "Home", new {area = ""})"><i class="fa fa-circle-o"></i>Company Profile</a></li>
                    <li><a href="@Url.Action("Index", "Schools", new {area = ""})"><i class="fa fa-circle-o"></i>School</a></li>
                    <li><a href="@Url.Action("Index", "Classes", new {area = ""})"><i class="fa fa-circle-o"></i>Class</a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i>
                            <span>Geo</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "Area", new {area = ""})"><i class="fa fa-circle-o"></i>Area</a></li>
                            <li><a href="@Url.Action("Index", "Cities", new {area = ""})"><i class="fa fa-circle-o"></i>City</a></li>
                            <li><a href="@Url.Action("Index", "States", new {area = ""})"><i class="fa fa-circle-o"></i>State</a></li>
                            <li><a href="@Url.Action("Index", "Countries", new {area = ""})"><i class="fa fa-circle-o"></i>Country</a></li>

                        </ul>
                    </li>
                </ul>
            </li>*@

            <!--Android App-->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bell-slash"></i>
                    <span>Temporary Entry</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "Subservices", new {area = "admin"})"><i class="fa fa-circle-o"></i>Parent Service</a>
                    </li>
                    <li><a href="@Url.Action("Index", "SubSubservices", new {area = "admin"})"><i class="fa fa-circle-o"></i>Child Service</a></li>
                </ul>
            </li>





        </ul>
    </section>
</aside>

