﻿@model Rekla.Model.ConsumerProfile
@using System.Security.Cryptography;
@using System.Text;
@using Rekla.Model;
@{
    ViewBag.Title = "Details";
    var email = string.IsNullOrEmpty(Model.EmailId) ? User.Identity.Name:Model.EmailId;
    var Image = GenerateGravatarUrl(email);


    var Page = Request.QueryString["page"] != null ? Request.QueryString["page"] : "0";
    var Size = Request.QueryString["size"] != null ? Request.QueryString["size"] : "5";


    var UserDetails = ViewBag.User as User;

    var subscription = string.IsNullOrEmpty(UserDetails.Subscription) ? "No Subscription" : UserDetails.Subscription;
    var Expiry = UserDetails.Expiry.HasValue ? UserDetails.Expiry.Value.ToShortDateString() : "N/A";
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style>
    #pl{
       /**/ /*height:400px*/
    }
    #p2 {
        max-height: 200px;
        min-height: 200px;
    }
    #pl:hover>#p{
        display:block;
        position:relative;
        top:-40px;
        /*padding:20px;*/
        /*background:rgba(255, 255, 255, 0.64);*/
        /*font-size:10px;*/
        /*border:1px inset gray;*/
    }
    #p{
        display:none;
    }
    .image-holder{
        max-height:200px;
        min-height:200px;
    }
    .dl-horizontal>dt dd{
        color:gray
    }
</style>

<div class="card" style="min-height:600px">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-blue">
                    Profile
                </h2>
            </div>
            <div class="col-md-8">
                <a href="@Url.Action( "Edit",new { id = Model.ProfileId })" class="btn btn-sm btn-primary pull-right"><i class="fa fa-edit"></i></a>
                <span class="badge badge-info pull-right"><i class="fa fa-calendar"></i> @Expiry</span>
                <span class="badge badge-info pull-right"><i class="fa fa-superpowers"></i> @subscription</span>
            </div>
        </div>
       
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 border">

                <div class="image-holder text-center">
                    <form action="/Profile/UpLoadPic" method="post" enctype="multipart/form-data">
                        <label class="btn btn-default" id="pl">
                            <img src="@(string.IsNullOrEmpty(Model.Image)?Image:Model.Image)" class="img-fluid" id="p2" />
                            <span id="p" class="btn btn-primary"><i class="fa fa-camera"></i>Change Picture</span>
                            <input type="file" name="file" accept="image/*" hidden onchange="Upload(event)" />
                        </label>
                    </form>
                </div>
                <div class="full">

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MobileNo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MobileNo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EmailId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EmailId)
                        </dd>





                    </dl>
                </div>
               

            </div>
            <div class="col-md-8">
               @Html.Action("Services",new { page=Page,size=Size })
            </div>

        </div>
    </div>

</div>


<script>
    function Upload(event) {
        
        var result = confirm("Change Picture?");
        if (result == true) {
            $('form').submit();
        }
    }
</script>

@functions {
    string GenerateGravatarUrl(string email)
    {
        var md5 = MD5.Create();
        var encoder = new UTF8Encoding();
        var md5Hash = md5.ComputeHash(encoder.GetBytes(email.Trim().ToLower()));
        var md5String = new StringBuilder(md5Hash.Length * 2);
        foreach (var character in md5Hash)
        {
            md5String.Append(character.ToString("X2"));
        }
        return $"https://www.gravatar.com/avatar/{md5String.ToString().ToLower()}?d=mm";
    }
}

