﻿@model IEnumerable<Rekla.Model.ServiceRequest>
@using Rakla.Infra.Concrete;


<h3>Service History</h3>

<ul class="list-group">
   
@foreach (var item in Model)
{
    <li class="list-group-item">
        
        <div>
          City:  @Html.DisplayFor(modelItem => item.City) , Area: @Html.DisplayFor(modelItem => item.Area)
        </div>
        <div>
            @Service(item.Service, item.Id)
        </div>  

        <div>
            @item.Date.ToShortDateString()
        </div>
  </li>
            
        
    
}

</ul>
@pager()

@helper pager() {

var pager = ViewBag.Pager as Pagers;


    if (pager.IsPaged)
    {
        <nav aria-label="Page navigation example">

            <ul class="pagination">
                @if (pager.HasPreviousPage)
                {
                    <li class="page-item"><a class="page-link" href="/Profile?page=@pager.PreviousPageIndex&size=@pager.Size">Previous</a></li>
                }
                
                @if (pager.HasNextPage)
                {
                    <li class="page-item"><a class="page-link"  href="/Profile?page=@pager.NextPageIndex&size=@pager.Size">Next</a></li>
                }
                
            </ul>
        </nav>
    }



}





@helper Service(string service,int item)
{
var id = item + "Id";
try
{
    var json = Json.Decode(service);

        <button class="btn btn-success" data-toggle="collapse" data-target="#@id">@(string.IsNullOrEmpty(json.Service)?"Service Details": json.Service)</button>
        <div class="collapse" id="@id">
            <table class="hidden">
                @foreach (var i in json.Answers)
        {
                    <tr>
                        <th>@i.Query</th>
                        <td>
                            Answer
                            <ul>
                                @foreach (var a in i.Answer)
                                {
                                    <li>
                                        @a
                                    </li>
                                }

                            </ul>
                        </td>
                    </tr>
                }


            </table>

        </div>
            

}
catch
{
        @service
}
}

