﻿@model Rekla.Model.Service

@{
    ViewBag.Title = "Details";
    var Image = "http://via.placeholder.com/350x150";
}
<style>
    #pl {
        height: 300px
    }
    #p2{
        height:300px;
    }
        #pl:hover > #p {
            display: block;
            position: relative;
            top: -90px;
            padding: 20px;
            background: rgba(255, 255, 255, 0.64);
            font-size: 10px;
            border: 1px inset gray;
        }

    #p {
        display: none;
    }
    
</style>
<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Service</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>

            

            <dd>
                @Html.DisplayFor(model => model.ImageUrl)
            </dd>
            
            

        </dl>
        <div>


            <form action="/Admin/Services/UpLoadPic" method="post" enctype="multipart/form-data" id="PICUPLOAD">
                <input type="hidden" name="id" value="@Model.ServiceId" />
                <label class="btn btn-default" id="pl">

                    <img src="@(string.IsNullOrEmpty(Model.ImageUrl)?Image:Model.ImageUrl)" class="img-fluid" id="p2" />
                    <span id="p">Change Picture</span>
                    <input type="file" name="file" accept="image/*" class="hidden" onchange="Upload(event)" />

                </label>

            </form>
        </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceId },new {@class="btn btn-success" }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>


<script>
    function Upload(event) {

        var result = confirm("Change Picture?");
        if (result == true) {
            $('form#PICUPLOAD').submit();
        }
    }
</script>

