﻿
@{
    ViewBag.Title = "Questioner";
}

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Questioner</h3>
            <div class="box-tools pull-right">


            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            @if (ViewBag.True)
            {
                <app-root ServiceId="@ViewBag.Id" ServiceQuestionerId="@ViewBag.ServiceQuestionerId"></app-root>
            }
            else
            {
                <app-root ServiceId="@ViewBag.Id"></app-root>
            }
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            The footer of the box
        </div>
        <!-- box-footer -->
    </div>
</section>
    





@section scripts{
    <script src="~/Areas/Admin/Content/questioner/inline.bundle.js"></script>
    <script src="~/Areas/Admin/Content/questioner/polyfills.bundle.js"></script>
    <script src="~/Areas/Admin/Content/questioner/vendor.bundle.js"></script>
<link href="~/Areas/Admin/Content/questioner/styles.bundle.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Content/questioner/main.bundle.js"></script>
}