﻿
@{
    ViewBag.Title = "Success";
}

<div class="container">
    <div class="row">
        <div class="col-12" style="">
            <div class="card">
                <div class="card-body" style="padding:0">
                    <img src="~/Content/RegistrationSuccess.png" class="img img-fluid" />
                </div>
            </div>

        </div>
    </div>
</div>

