﻿@model Rekla.Model.ContentManagment.WebPageContent

@{
    ViewBag.Title = "Create";
}

<section class="content-header">
    <h1>
        Content Management System

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active"> Content Management System</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PageName, htmlAttributes: new {@class = " "})
                            @Html.EditorFor(model => model.PageName, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.PageName, "", new {@class = "text-danger"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.MetaContent, htmlAttributes: new {@class = " "})
                            @Html.EditorFor(model => model.MetaContent, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.MetaContent, "", new {@class = "text-danger"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.MetaDiscription, htmlAttributes: new {@class = " "})
                            @Html.EditorFor(model => model.MetaDiscription, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.MetaDiscription, "", new {@class = "text-danger"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Content, htmlAttributes: new {@class = " "})
                            @Html.TextAreaFor(model => model.Content, new { @class = "ckeditor" })
                            @Html.ValidationMessageFor(model => model.Content, "", new {@class = "text-danger"})
                        </div>
                        @Html.HiddenFor(i=>i.AddedOn)
                        @Html.HiddenFor(i=>i.EdidtOn)
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.EdidtedByUser)
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Active,  new { @class = "checkbox" } )
                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Layout, htmlAttributes: new { @class = " " })
                            @Html.DropDownList("Layout",null , new { @class = "form-control" } )
                            @Html.ValidationMessageFor(model => model.Layout, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="~/Admin/cms/index" class="btn btn-danger pull-right" style="margin-right:5px"><i class="fa fa-remove"></i></a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>

@section scripts{
    
<script src="~/Areas/Admin/Content/plugins/ckeditor/ckeditor.js"></script>
}