﻿@model Rekla.Model.ContentManagment.WebPageContent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WebPageContent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MetaContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaDiscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaDiscription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EdidtOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EdidtOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EdidtedByUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EdidtedByUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PageName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
