﻿@model IEnumerable<Rekla.Model.ContentManagment.WebPageContent>

@{
    ViewBag.Title = "Index";
}

<section class="content-header" >
    <h1>
        Content Management System

    </h1>
    
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                 
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped table-condensed table-vmiddle ">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MetaContent)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MetaDiscription)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Content)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AddedOn)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EdidtOn)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedBy)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EdidtedByUser)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Active)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MetaContent)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MetaDiscription)
                                            </td>
                                            <td>
                                                @Html.Raw( item.Content)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AddedOn)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EdidtOn)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedBy)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EdidtedByUser)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Active)
                                            </td>
                                            <td class="btn-group btn-group-sm">
                                                <a href="/Admin/CMS/Edit/@item.PageName" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                                <a href="/Admin/CMS/Details/@item.PageName" class="btn btn-info btn-sm "><i class="fa fa-eye"></i></a>
                                                <a href="/Admin/CMS/Delete/@item.PageName" class="btn btn-danger btn-sm "><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>

                                    }
                                </tbody>


                            </table>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

