﻿@{
    ViewBag.Title = "About";
}


<section class="container">
    <div class="card">
        <div class="card-header text-center">
            <h2>What is Rekla?</h2>
        </div>
        <div class="card-body text-justify"> 
            
            <p>
                Welcome to the world where convenience and quality is at utmost priority. We provide services, and manpower in various fields and our complete focus is on how to deliver quality Service within the time committed. We are set of three people from different background trying to create an environment of ease.
            </p>
            <p>
                We heard many people say that it is impossible to find a plumber / electrician / carpenter who is reliable and can do a quality job.
                Our job is to ensure that the user get ease in finding service provider who are verified professional and get the job done in committed time frame.
            </p>
            <p>
                We are a group of 3 people who are constantly working towards the goal to provide hassle free platform for the user and service provider
                by bringing them on the same platform and creating an environment of ease among them.
            </p>

            @*<p style="font-weight:bold;font-size:22px">
                Team Introduction :
            </p>
            <h3>Vishnu PriyaBakshi Chairman & Co-Founder :</h3>
            <p>A House wife with the vision of providing services door to door. These days its tough to find right set of skilled person at right time, through AOCS our goal is to create bridge between service provider and client.</p>
            <h3>Kunal Hansh CEO and Co-Founder :</h3>
            <p>
                An engineering graduate having experience of more than 5 years in E-Publishing. My goal is to create awareness of technology and digitization of every small thing that we do in our daily life. My dream is to provide a platform from where anything is just a click away.
            </p>
            <h3>Kumar Animesh Managing Director & Founder :</h3>
            <p>An engineering graduate with more than 7 years of experience in implementing various automation tool across industries such as Telecom, banking, Automobile etc. My vision is to strengthen and equip educational institutions with all the necessarydigitization that can create impact on the generation to come. There is only one key to success and that is knowledge.</p>*@

        </div>

    </div>
   
    
</section>