﻿@{
    ViewBag.Title = "Home Page";
}

@*<link href="~/Bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="~/Bootstrap/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="~/Bootstrap/font-awesome.min.css" rel="stylesheet" />
<link href="~/Bootstrap/main.css" rel="stylesheet" />*@
<section class="features">
    <div ng-app="mainApp">
        <div class="col-md-12">
            <div class="">
                <div class="" ng-view="">
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
<script src="/Content/userend/lib/angular-strap/dist/angular-strap.min.js"></script>
<script src="/Content/userend/lib/angular-strap/dist/angular-strap.tpl.js"></script>
<link href="~/Scripts/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/SweetAlertMod.min.js"></script>
<script src="~/Scripts/Searchservice/reklaApp.js"></script>
<script src="~/Scripts/Searchservice/searchapp.js"></script>

    
    }