﻿@{
    ViewBag.Title = "Contact";
}

<section class="container">
    <h2>Contact</h2>
    <div class="row">

        <div class="col-md-8" ng-app="Form" ng-controller="formController">
            <div ng-show="POSTING" class="overlayCustom">
                <style>
                    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                        display: none !important;
                    }
                    input.ng-invalid{
                        color:red;
                    }

                    .overlayCustom {
                        /* Height & width depends on how you want to reveal the overlay (see JS below) */
                        height: 100%;
                        width: 100%;
                        position: fixed; /* Stay in place */
                        z-index: 1; /* Sit on top */
                        left: 0;
                        top: 0;
                        background-color: rgb(0,0,0); /* Black fallback color */
                        background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
                        overflow-x: hidden; /* Disable horizontal scroll */
                        transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
                    }

                    .list-group-item1 {
                        position: relative;
                        display: block;
                        /* padding: 10px 15px; */
                        margin-bottom: -1px;
                        background-color: #fff;
                        border: 1px solid #ddd;
                    }

                    label {
                        padding: 10px;
                        display: block;
                        margin-bottom: 0px !important;
                        font-weight: bold;
                        cursor: pointer;
                    }

                    .loader {
                        margin-top: 20%;
                        margin-left: 45%;
                        border: 16px solid #f3f3f3; /* Light grey */
                        border-top: 16px solid #3498db; /* Blue */
                        border-radius: 50%;
                        width: 120px;
                        height: 120px;
                        animation: spin 2s linear infinite;
                    }

                    @@keyframes spin {
                        0% {
                            transform: rotate(0deg);
                        }

                        100% {
                            transform: rotate(360deg);
                        }
                    }
                </style>
                <div class="loader">

                </div>

            </div>
            <ng-form name="form1" novalidate> 
                <div >


                    <div class="form-group">
                        @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" }) 
                        <div class="col-md-10">
                            @Html.TextBox("Name",null,  new { @class = "form-control",ng_model="Model.Name", required = "" } ) 
                            <div class="invalid-feedback" ng-hide="form1.Name.$valid">*</div>
                            @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" }) 
                        <div class="col-md-10">
                            @Html.TextBox("Email",null,new { @class = "form-control",ng_model="Model.Email", required = "",type="email" } ) 
                            <div class="invalid-feedback" ng-hide="form1.Email.$valid">*</div>
                            @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Mobile", htmlAttributes: new { @class = "control-label col-md-2" }) 
                        <div class="col-md-10">
                            @Html.TextBox("Mobile",null , new { @class = "form-control", ng_model = "Model.Mobile",type="tel", ng_pattern = @"'/^[0-9]{10,10}$/;'" ,ng_class= "{is-invalid:form1.Mobile.$valid}" }) 
                            <div class="invalid-feedback" ng-hide="form1.Mobile.$valid">*</div>
                            @Html.ValidationMessage("Mobile", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Query", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("Query",null, new {  @class = "form-control", ng_model = "Model.Query", required = "" } ) 
                            <div class="invalid-feedback" ng-hide="form1.Query.$valid">*</div>
                            @Html.ValidationMessage("Query", "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <button ng-click="SUbmit()" class="btn btn-success pull-right">Submit</button>


            </ng-form>





        </div>
        <div class="col-md-4">
            <h4>Address</h4>
            <address>
                Market Complex,<br />
                beside Rani sati Mandir,<br />
                Bada Akhara Chowk,<br />
                Hazaribag -825301

            </address>

            <address>

                Ph: 7903059811/8292961222
            </address>
        </div>
    </div>
   
    

</section>

@section scripts{
<link href="~/Scripts/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>

<script src="/Content/userend/lib/angular/angular.js"></script>
<script src="~/Scripts/SweetAlertMod.min.js"></script>
    <script>
        var app = angular.module("Form", ["oitozero.ngSweetAlert"]);
        app.controller("formController", ["$scope","$http", function ($scope,$http) {
            $scope.POSTING = false;
            $scope.Model={
                Name: "",
                Email: "",
                Mobile: "",
                Query:""
            }


            $scope.SUbmit = function () {
                if ($scope.form1.$valid) {
                    $scope.POSTING = true;
                    $http.post("/api/ContactUs/", $scope.Model).then(function (data) {
                        var dataR = data.data;
                        $scope.POSTING = false;
                        if (dataR.Success) {
                            swal("Thank you", "We will get back Soon", "success");
                            $scope.Model = {
                                Name: "",
                                Email: "",
                                Mobile: "",
                                Query: ""
                            }

                        } else {
                            swal("Sorry", "Please try again!", "error");
                        }
                        
                    })
                }
                else {
                    swal("Error", "fill the form correctly!", "error");
                }
            }



        }])


    </script>

    }
