﻿@{
    ViewBag.Title = "FAQ";
}
<style>
   ul>li>p:first-child{
       font-weight:bold;
   }
</style>
<section class="container">
    <div class="hero">

    </div>
    <h2>FAQ</h2>
    <ul class="list-group">
       <li class="list-group-item">
            <p> Q1. How many cities is rekla operational in?</p>
            <p> Ans. We are currently present in Hazaribagh.</p>
        </li>
        <li class="list-group-item">
            <p> Q.2 Are your Service Providers qualified ? </p>
            <p> Ans. Absolutely! We only bring in professionals who have been recommended and certified by experts. We conduct interviews, check referrals, licenses, and do background checks on each and every service provider. Only those professionals who pass our strict onboarding process are allowed to work with Rekla.</p>
        </li>
        <li class="list-group-item"> 
            <p>  Q.3 What happens if the Service Provider damages anything? </p>
            <p> Ans. In the unlikely event of our team damaging something, you can email us at helpdesk@rekla.in</p>
        </li>
        <li class="list-group-item">
            <p>  Q.4 Does someone have to be home when the Service Provider comes? </p>
            <p> Ans.  Yes, it is advisable for you to be around when the job is getting done.You are requested to take care of your personal belongings or valuables in the presence of our Service Providers. Rekla will not be liable for any damage or theft arising in case of failure to do so.</p>
        </li>
        <li class="list-group-item">
            <p>  Q.5 What happens if the Service Provider does not arrive on time? </p>
            <p> Ans.  We immediately arrange for a replacement and schedule a time convenient to you to do the job or register a cancellation of the service requested.</p>
        </li>
        <li class="list-group-item">
            <p>  Q.6 How do i reschedule a job booked on Rekla? </p>
            <p> Ans.  Please do email us at helpdesk@rekla.in</p>
        </li>
        <li class="list-group-item">
            <p>  Q.7 What if I am not happy with the service or the service provider? </p>
            <p> Ans.  If you do have any complaints, suggestions or feedback with regard to the service quality, or our service provider, pricing etc please mail us at helpdesk@rekla.in. It is advised to do this within 24hrs of your service.</p>
        </li>
        <li class="list-group-item">
            <p>  Q.8 How do I book a service? </p>
            <p> Ans.  To book a service you must signin or signup(if a new user) to rekla.in our website. You may also call us at 7362000193 or 7362000840.</p>
        </li>
        <li class="list-group-item">
            <p>  Q.9 How do I reschedule a job booked on Rekla? </p>
            <p> Ans. For resheduling any booking you can mail us at helpdesk@rekla.in</p>
        </li>
        <li class="list-group-item">
            <p>  Q.10 How do I cancel a job booked on Rekla? </p>
            <p> Ans.  For cancelling any booking you can mail us at helpdesk@rekla.in</p>
        </li>
        <li class="list-group-item">
            <p>  Q.11 How can I share my feedback? (or) What should I do if I'm unhappy with the service? </p>
            <p> Ans.  After each service is completed, our customers are asked to rate the service on different parameters and judge the overall satisfaction of the service. You would also be allowed to rate a provider based on some parameters through our app if the service was requested from the app. You can also email us at helpdesk@rekla.in.</p>
        </li>
    </ul>

  
</section>
