﻿
@{
    Layout = null;// "~/Views/Shared/_BootStrap4.cshtml";
    ViewBag.Title = "NG2";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rekla</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Scripts/Angular/questioner/assets/fonts/stylesheet.css" rel="stylesheet" />
    <link href="~/Scripts/Angular/questioner/styles.bundle.css" rel="stylesheet" />
</head>
<body>
    <app-root></app-root>

    <script type="text/javascript" src="~/Scripts/Angular/questioner/inline.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/questioner/polyfills.bundle.js"></script>
    
    <script type="text/javascript" src="~/Scripts/Angular/questioner/vendor.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/questioner/main.bundle.js"></script>
</body>
</html>




