﻿@{
    ViewBag.Title = "Home Page";
}

<section class="features">
    @*<div class="cta-content">*@


    <div class="container">
        <div @*ng-app="rekla"*@ ng-controller="searchController" ng-cloak>

            <div ng-show="POSTING" class="overlayCustom">
                <style>
                    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                        display: none !important;
                    }

                    .overlayCustom {
                        /* Height & width depends on how you want to reveal the overlay (see JS below) */
                        height: 100%;
                        width: 100%;
                        position: fixed; /* Stay in place */
                        z-index: 1; /* Sit on top */
                        left: 0;
                        top: 0;
                        background-color: rgb(0,0,0); /* Black fallback color */
                        background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
                        overflow-x: hidden; /* Disable horizontal scroll */
                        transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
                    }

                    .list-group-item1 {
                        position: relative;
                        display: block;
                        /* padding: 10px 15px; */
                        margin-bottom: -1px;
                        background-color: #fff;
                        border: 1px solid #ddd;
                    }

                    label {
                        padding: 10px;
                        display: block;
                        margin-bottom: 0px !important;
                        font-weight: bold;
                        cursor: pointer;
                    }

                    .loader {
                        margin-top: 20%;
                        margin-left: 45%;
                        border: 16px solid #f3f3f3; /* Light grey */
                        border-top: 16px solid #3498db; /* Blue */
                        border-radius: 50%;
                        width: 120px;
                        height: 120px;
                        animation: spin 2s linear infinite;
                    }

                    @@keyframes spin {
                        0% {
                            transform: rotate(0deg);
                        }

                        100% {
                            transform: rotate(360deg);
                        }
                    }
                </style>
                <div class="loader">

                </div>

            </div>

            <div ng-hide="Complete">
                <div ng-hide="ShowService" class="text-center">
                    <div class="row">

                        <h4 class="success">Step 1: Select your place</h4>
                        <div class="col-md-12 col-sm-12">

                            <select ng-model="Model.City" class="form-control styled-select state">
                                <option ng-repeat="cit in Cities" value="{{cit}}">
                                    {{cit}}
                                </option>

                            </select>

                        </div>
                    </div>
                    <div class="row">
                        <h4>Step 2: Select your Service</h4>

                        <h2 class="hidden-sm" ng-show="ServiceList.length == 0">Loading Services</h2>
                        <h4 class="hidden-lg hidden-md" ng-show="ServiceList.length == 0">Loading Services</h4>
                        <div class="col-md-2 col-sm-12 mousePointer" ng-repeat="ser in ServiceList" ng-click="SelectService(ser)" ng-class="{ 'background': Title==ser.Title}">

                            <img src="/Content/userend{{ser.Url}}" class="img-responsive " ng-class="{ 'img-bordered': Title==ser.Title, 'img-circle':(Title!=ser.Title||Title==null) }" />
                            <h3 ng-bind="ser.Title"></h3>
                            <i class="fa fa-check pull-right" ng-show="Title==ser.Title"></i>

                        </div>
                    </div>

                </div>
                <div class="row" ng-show="ShowService">
                    <div class="col-md-12">
                        <button class="btn btn-warning pull-right " ng-click="Back()"><i class="fa fa-backward"></i> Back</button>
                        <br />
                        <form method="POST" ng-submit="Submit(sform)" name="sform">

                            <div class="row">
                                <div class="col-md-6">
                                    <div ng-repeat="item in data">

                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-heading">
                                                {{item.Title}}
                                            </li>
                                            <li ng-repeat="i in item.Data" class="list-group-item1 ">
                                                <label style="display:block"><input type="radio" ng-click="ChangeService(i.Title,item.Title)" name="Service" value="{{i.Title}}" /> {{i.Title}} <span class="label label-info pull-right">{{i.Rate}}</span></label>
                                            </li>
                                            <li class="list-group-item list-group-item-info">{{item.Terms}}</li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" name="Name" class="form-control" ng-model="Model.Name" required />
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Date</label>
                                                <input type="text" name="Date" class="form-control" ng-model="Model.Date" required bs-datepicker />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Time</label>
                                                <input type="text" name="Date" class="form-control" ng-model="Model.Date" required bs-timepicker />
                                            </div>
                                        </div>

                                    </div>



                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" name="City" class="form-control" ng-model="Model.City" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <textarea type="text" name="Area" class="form-control" ng-model="Model.Area" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Mobile No</label>
                                        <input type="text" name="MobileNo" class="form-control" ng-model="Model.MobileNo" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" name="Email" class="form-control" ng-model="Model.Email" required />
                                    </div>
                                    <button type="submit" class="btn btn-success">Submit</button> <button class="btn btn-warning pull-right" ng-click="Back()"><i class="fa fa-backward"></i> Back</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div ng-show="Complete" class="text-center">
                <h3>Hi ,{{Model.Name}}</h3>
                <p>We have registred your request of {{Model.Service}}. We will get you back to on your {{Model.MobileNo}}.</p>
                <a href="/">Request for More Services</a>

            </div>
        </div>


        @section Scripts {


            <script src="/Content/userend/lib/angular/angular.js"></script>

            <script src="/Content/userend/lib/angular-strap/dist/angular-strap.min.js"></script>
            <script src="/Content/userend/lib/angular-strap/dist/angular-strap.tpl.js"></script>
            <script data-main="/Scripts/TempApp/main" src="~/Scripts/require.js"></script>
            @*<script>
                    //var app = angular.module("rekla", ['mgcrea.ngStrap'])
                    //app.controller("searchController", ["$scope", "$http", function ($scope, $http) {
                    //	$scope.SelectedService = null;
                    //	$scope.ServiceList = [

                    //	];
                    //	function pullData() {
                    //		$scope.POSTING = true;
                    //		$http.get("/api/services/List").success(function (data) {
                    //			for (var i = 0; i < data.length; i++) {
                    //				var datap = [];
                    //				for (var si = 0; si < data[i].Childs.length; si++) {
                    //					var p = [];
                    //					for (var ssi = 0; ssi < data[i].Childs[si].Childs.length; ssi++) {
                    //						p.push(data[i].Childs[si].Childs[ssi].Name);
                    //					}
                    //					datap.push({
                    //						Title: data[i].Childs[si].Name,
                    //						Data: p
                    //					});
                    //				}
                    //				$scope.ServiceList.push({ Title: data[i].Name, Url: data[i].ImageUrl, Data: datap });

                    //			}
                    //			$scope.POSTING = false;
                    //		})
                    //	}
                    //	pullData();



                    //	$scope.data = null;
                    //	$scope.Complete = false;
                    //	$scope.Cities = ["Ranchi", "Hazaribagh", "Jamshedpur"];
                    //	$scope.Model = {
                    //		Name: null,
                    //		Date: null,
                    //		Time: null,
                    //		City: null,
                    //		Area: null,
                    //		MobileNo: null,
                    //		Email: null,
                    //		Service: null
                    //	}
                    //	$scope.Title = "";
                    //	$scope.City = "";
                    //	$scope.ShowService = false;
                    //	$scope.Back = function () {
                    //		$scope.ShowService = false;


                    //	}
                    //	$scope.SelectCity = function (city) {
                    //		$scope.City = city;
                    //		console.log($scope.Model.City)
                    //		$scope.Model.City = city;
                    //		if ($scope.Model.City != null && $scope.data != null) {

                    //			$scope.ShowService = true;
                    //		}

                    //		console.log($scope.ShowService)
                    //	}
                    //	$scope.SelectService = function (ser) {
                    //		$scope.SelectedService = ser.Title;
                    //		$scope.data = ser.Data;
                    //		$scope.Title = ser.Title;
                    //		if ($scope.Model.City != null && $scope.data != null) {

                    //			$scope.ShowService = true;
                    //		}
                    //		console.log($scope.ShowService)
                    //	}
                    //	$scope.ChangeService = function (ser, servp) {
                    //		$scope.Model.Service = $scope.SelectedService + " -> " + servp + " -> " + ser;
                    //		console.log($scope.Model.Service)
                    //	}
                    //	$scope.POSTING = false;
                    //	$scope.Submit = function () {
                    //		if ($scope.Model.Service == null) {
                    //			alert("No service Selected");
                    //			return;
                    //		}
                    //		$scope.POSTING = true;
                    //		$http.post("/api/serviceRequests", $scope.Model).success(function (data) {

                    //			$scope.POSTING = false;

                    //			$scope.Complete = true;
                    //		})
                    //	}
                    //}])
                </script>*@
        }
    </div>
    @*</div>*@

</section>
