﻿
@{
    ViewBag.Title = "Terms";
}
<section class="container">
    <div class="card">
        <div class="card-header text-center">
            <h2>Terms</h2>
        </div>
        <div class="card-body">

            <p>
                Welcome to rekla.in You may use our services through our website www.rekla.in (“Website”). Our Website and have been created to provide information about our company and services to the visitors and user of services, whether accessible to you via web, mobile App or other platform (our services, together with the Site, are the "Services")
            </p>
            <p>
                For the purpose of these Terms of Use, the term 'Rekla' or 'Us' or 'We' refers to Anusewa On Call Service Pvt Ltd. The term 'You' refers to the user or viewer of our Website.
            </p>
            <p>
                When You use any of the Services provided by Us, including but not limited to, Electrical, Plumbing, Computer Repair, Laundry, Carpentry, saloon at home etc, you will be subject to the rules, guidelines, policies, terms, and conditions applicable to such service, and they shall be deemed to be incorporated into this Terms of Use and shall be considered as part and parcel of these Terms of Use. As long as you comply with these Terms of Use, We grant you a personal, non-exclusive, non-transferable, limited privilege to enter and use our platforms. In the event of a conflict or inconsistency between any provision of the terms and conditions mentioned herein with those of the particular service, the provisions of the terms and conditions applicable to such specific Services shall prevail.
            </p>
            <p style="font-weight:bold;font-size:22px">Acceptance of Terms :</p>
            <p>
                These Terms of Use set forth legally binding terms for your use of our Platforms. By using, visit, accessing our platforms, you agree to be bound by this Terms of Use, whether you are a “Visitor” (which means that you simply browse our Platforms) or you are a “Subscriber” (which means that you have registered with Rekla as a user). If you do not accept the Terms of Use, you should leave the Website and/or and discontinue use of the Service immediately. We may modify these Terms from time to time, and such modification shall be effective upon its posting on our platforms. You agree to be bound by any modification to this Agreement when you use our Website and after any such modification is posted; it is therefore important that you review the Terms of Use regularly.
            </p>
            <p style="font-weight:bold;font-size:22px">General Registration Requirements :</p>
            <p>In consideration of your use of our platforms, you represent that you are of legal age (18 years and above) to form a binding contract and are not a person barred from receiving services under any law in force in India or other applicable jurisdiction. You also agree to: provide true, accurate, current and complete information about yourself while registering on our Website and to avail the Services maintain and promptly update your Registration Data to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current or incomplete, or we have reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, We reserve the right to suspend or terminate your account and refuse any and all current or future use of our Website and (or any portion thereof) at any time. Rekla will not be liable for any act or omission arising from the inaccurate information provided by You to Us. You may access our Website and as available:for your information and personal use;as intended through the normal functionality of Rekla. You will be required to enter a valid phone number while registering on our Website and as a subscriber. By registering your phone number with us, you consent to be contacted by us via phone calls and/or SMS notifications, in case of any subscription/service updates. If we do so, each communication we send you will contain instructions permitting you to "opt-out" of receiving future communications. In addition, if at any time you wish not to receive any future communications or you wish to have your name deleted from our mailing lists, please contact us as indicated below. If you are registered with the DND National registry you may not receive any promotional messages from us.</p>
            <p style="font-weight:bold;font-size:22px">Subscriber Account, Password and Security:</p>
            <p>
                If you register on Rekla, you will be required to choose a password and user name. You are responsible for maintaining the confidentiality of your password and account information, and are fully responsible for all activities that occur under your password or account. You agree to: immediately notify Rekla of any unauthorized use of your password or account or any other breach of security, and ensure that you log out from your account at the end of each session; never use any other Subscriber’s account without prior authorization from Rekla. Rekla will not be liable for any loss or damage arising from your failure to comply with this Agreement.
            </p>
            <p style="font-weight:bold;font-size:22px">User Information :</p>
            <p>
                Rekla’s unique business model provides You with location based service providers in a short span of time. To facilitate this, You hereby authorise Rekla to use the location based information provided by any of the telecommunication companies when You use the mobile phone to make a booking. The location based information will be used only to facilitate and improve services for You. If You use the Website, You agree that information about Your use of the Rekla Website and through Your mobile telecommunication device may be communicated to us, and we may obtain information about Your mobile carrier, Your mobile device, or Your physical location. By accessing the or Website using a mobile telecommunication device, You represent that to the extent You import any of Your Rekla data to Your mobile telecommunication device that You have authority to share the transferred data with Your mobile carrier or other access provider. In the event You change or deactivate Your mobile account, You must promptly update Your Rekla account information to ensure that Your messages are not sent to the person that acquires Your old number and failure to do so is Your responsibility. You acknowledge that You are responsible for all charges and necessary permissions related to accessing the through Your mobile access provider. Therefore, You should check with Your provider to find out if our Website and are available and the terms for these services for Your specific mobile devices. Rekla reserves the right to collect user data including name, contact information and other details to facilitate the Services or use of its to avail Services. Compilation of user accounts and user accounts bearing contact number and e-mail addresses are owned by Rekla. In the case where the system is unable to establish unique identity of the user against a valid mobile number or e-mail address, the account shall be indefinitely suspended. Rekla reserves the full discretion to suspend a user's account in the above event and does not have the liability to share any account information whatsoever. We may record your telephone calls to our call centres or to Us.
            </p>
            <p style="font-weight:bold;font-size:22px">Do we use 'cookies'?</p>
            <p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
            <p style="font-weight:bold;font-size:22px">We use cookies to :</p>
            <ul>
                <li> Understand and save user's preferences for future visits.</li>
                <li> Keep track of advertisements.</li>
                <li> Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.</li>
            </ul>
            <p>
                You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.
            </p>
            <p>If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.It won't affect the user's experience that make your site experience more efficient and may not function properly.</p>
            <p style="font-weight:bold;font-size:22px">Third-party disclosure :</p>
            <p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety.</p>
            <p>However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
            <p style="font-weight:bold;font-size:22px">Third-party links :</p>
            <p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>
            <p style="font-weight:bold;font-size:22px">Google :</p>
            <p>Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en </p>
            <p>We have not enabled Google AdSense on our site but we may do so in the future.</p>
            <p style="font-weight:bold;font-size:22px">Termination or Suspension :</p>
            <p>You agree that Rekla may at any time terminate your access to the or Website or restrict or suspend your access to all or any part of the Website, for any or no reason, with or without prior notice, and without liability. Rekla shall be entitled at any time without giving any reason to terminate the booking of services done by You.</p>
            <p style="font-weight:bold;font-size:22px">Preservation/Disclosure :</p>
            <p>You acknowledge, consent and agree that Rekla may access, preserve and disclose your account information and content if required to do so by law or in a good faith belief that such access, preservation or disclosure is reasonably necessary to: comply with legal process nationally or internationally; enforce these Terms of Use; respond to claims that any Content violates the rights of third parties; respond to your requests for customer service; protect the rights, property or personal safety of Rekla, its subscribers and the public; or pursuant to the terms of the Privacy Policy.</p>

        </div>

    </div>
    
   
</section>


