﻿<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  

    <title>Rekla</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
   
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="/Content/userend/fonts/stylesheet.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
   
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>
   
    <style>
        main{
            padding-top:82px;
        }
        .logo{
            font-family:'Vanish';
            font-size:27px;
        }
        
    </style>
    
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand " href="/" >
                <div class="logo">
                    Rekla
                </div>
           
                <div class="text-center" style="font-size:11px">
                    <span class="text-warning">Service @@ Doorsteps</span>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
           
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/Home/contact">Contact</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link " href="/profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/Manage/index">Manage Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/account/logoff">Log Off</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link " href="/account/login">Login</a>
                        </li>

                    }

                </ul>
               
            </div>
        </nav>
    </header>

    <main role="main">

        <section class="container-fluid">
            @RenderBody()
        </section>
       

      
    </main>
    <style>
        .social {
            height: 20px
        }
    </style>
    <footer class="container mw-100 bg-dark text-light pt-20">
        <div class="row">
            <div class="col-12 py-40 container">
                <div class="mt-40 row" style="margin-top:50px">
                    <div class="col-6 px-20 text-center">

                        <a href="https://www.facebook.com/reklaservices/"><img src="/images/SVG/facebook_1.svg" class="social" /></a>
                        @*<img src="/images/SVG/twitter.svg" class="social" />
                        <img src="/images/SVG/youtube.svg" class="social" />
                        <img src="/images/SVG/google_plus.svg" class="social" />
                        <img src="/images/SVG/instagram.svg" class="social" />*@
                       <a href="https://www.linkedin.com/in/rekla-doorstep-service-861676150/"><img src="/images/SVG/linkedin.svg" class="social" /></a> 
                    </div>
                    <div class="col-6 text-center">
                        <a href="/home/privacy">Privacy</a> | <a href="/home/Terms">Terms</a> | <a href="/home/faq">FAQ</a>
                    </div>
                </div>
                <div class="text-center" style="margin-top:20px">

                    <p>© @DateTime.Now.Year Rekla</p>
                </div>

            </div>
        </div>
    </footer>

    @RenderSection("scripts",false)
    
   
</body>
</html>