﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/userend/css/new-age.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="~/Content/userend/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/userend/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    @*<link href="~/Content/userend/lib/device-mockups/device-mockups.min.css" rel="stylesheet" />*@
    <link href="~/Content/userend/fonts/stylesheet.css" rel="stylesheet" />
   
    @RenderSection("style",false)
</head>
<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll logo" href="/Home">Rekla</a>
                </div>
                <div class="text-center">
                    <span class="text-warning">Service @@ Doorsteps</span>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    @*<li>
                            <a class="page-scroll" href="#download">Download</a>
                        </li>*@
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/home/about">About</a>
                    </li>
                    <li>
                        <a href="/home/contact">Contact</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-android"></i> Download App</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Rekla</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>*@
    <div style="min-height:649px">
        <div class="container">
            @RenderBody()
         </div>
        </div>



    <footer style="background-color:#011212">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="footer-list">
                        <li>
                            <a href="/Home/Privacy">Privacy</a>
                        </li>
                        <li>
                            <a href="/Home/Terms">Terms</a>
                        </li>
                        <li>
                            <a href="/Home/FAQ">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p>  &copy; Rekla.in @DateTime.Now.Year, All Rights Reserved.</p>
                </div>
                <div class="col-md-4">
                    <ul class="footer-list">
                        <li>
                            <a href="/Home/Privacy">Privacy</a>
                        </li>
                        <li>
                            <a href="/Home/Terms">Terms</a>
                        </li>
                        <li>
                            <a href="/Home/FAQ">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



    <script src="~/Content/userend/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/userend/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/userend/js/new-age.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
