@model Rekla.Model.ServiceRequest

@{
    Layout = null;
    var email = Json.Decode(Model.Service);
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="witdh=device-witdh" />
	<title>Request Email</title>
</head>
<body>

	<div>
		<h3>Hi @Model.Name,</h3>
		<p>
			Thank you for choosing us as your service partner, we have registered your service request. <span class="logo">Rekla.in</span>
			Please find the details mentioned below,
		</p>
		<table class="table table-condensed">
			<tr>
				<td>
					@Html.DisplayNameFor(model => model.Name)
				</td>
				<td>
					@Html.DisplayFor(model => model.Name)
				</td>
			</tr>
			<tr>
				<td>
					@Html.DisplayNameFor(model => model.Date)
				</td>
				<td>
					@($"{Model.Date:dd MMM yyyy hh:mm}")
				</td>
			</tr>
			<tr>
				<td>
					@Html.DisplayNameFor(model => model.City)
				</td>
				<td>
					@Html.DisplayFor(model => model.City)
				</td>
			</tr>

			<tr>
				<td>
					@Html.DisplayNameFor(model => model.Area)
				</td>
				<td>
					@Html.DisplayFor(model => model.Area)
				</td>
			</tr>
			<tr>
				<td>
					@Html.DisplayNameFor(model => model.MobileNo)
				</td>
				<td>
					@Html.DisplayFor(model => model.MobileNo)
				</td>
			</tr>
			<tr>
				<td>
					@Html.DisplayNameFor(model => model.Email)
				</td>
				<td>
					@Html.DisplayFor(model => model.Email)
				</td>
			</tr>
			<tr>
				<td>
					@Html.DisplayNameFor(model => model.Service)
				</td>
				<td>
                    <ul>
                        
                        @email.Service
                        <br />
                        @foreach (var i in email.Answers)
                    {
                        <ol>
                            @i.Query
                            <ul>
                                @foreach (var a in i.Answer)
                                {
                                    <li>
                                        @a
                                    </li>
                                }
                                
                            </ul>


                        </ol>


                    }

                    </ul>
                   

				</td>
			</tr>


		</table>
		<div class="alert alert-danger">
			<p>To modify/cancel your service request Please call +91 82929 61222</p>
		</div>

	</div>
	<div>

	</div>
</body>
</html>
