﻿@model IEnumerable<TrackerEnabledDbContext.Common.Models.AuditLog>
    @using System.Linq;
@{
    ViewBag.Title = "Aduits";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    
}

<h2>Aduits</h2>

<ul>
    @foreach (var i in Model)
    {
        <li>
           audit log of @i.AuditLogId on @i.EventDateUTC of @i.EventType @i.TypeFullName  @(i.UserName??"Not Audited")
            @foreach(var ip in i.LogDetails)
            {
                <div>
                @ip.PropertyName<span>-> from</span>  @ip.OriginalValue  to @ip.NewValue
                </div>
                    
            }
        </li>

    }
</ul>


