﻿@model Rekla.ViewModel.ServiceTaskListVM

<section class="content-header">
    <h1>
        Task List
    </h1>

</section>
<div class="clearfix"></div>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(i => i.TaskId)
                @Html.HiddenFor(i => i.UserId)
                <div class="box box-primary">
                    <div class="box-header with-border">

                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.TaskName, "Task Name", htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.TaskName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                            @*@Html.DropDownList("TaskId",null,null,new {@class="form-control"})*@
                            @Html.ValidationMessageFor(model => model.TaskName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Place, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OnDate, htmlAttributes: new { @class = " " })
                            @Html.EditorFor(model => model.OnDate, new { htmlAttributes = new { @class = "form-control" }})
                            @Html.ValidationMessageFor(model => model.OnDate, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                        <a href="~Users/FeedbackService/index" class="btn btn-danger pull-right" style="margin-right: 5px"><i class="fa fa-remove"></i></a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "false")
}
