﻿@model IEnumerable<Rekla.Model.City>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
        <td>
            <a href="/Services/Index/@item.CityId" class="btn btn-primary">Add New Service</a>
            @Html.ActionLink("Edit", "Edit", new { id=item.CityId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CityId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CityId })
        </td>
    </tr>
}

</table>
