﻿@model Rekla.ViewModel.Task.RequstedServiceViewModel

@{
    ViewBag.Title = "Details";
}

<section class="features">

    <div class="container">
        <h4>Requsted Service Details</h4>

        <table class="table table-bordered table-striped">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Service)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Service)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Breif)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Breif)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Area)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Area)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.City)
                </td>

                <td>
                    @Html.DisplayFor(model => model.City)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.OnDateTime)
                </td>

                <td>
                    @Html.DisplayFor(model => model.OnDateTime)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Email)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Address)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Address)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.MobileNo)
                </td>

                <td>
                    @Html.DisplayFor(model => model.MobileNo)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Completed)
                </td>

                <td>
                    @(Model.Completed?"Completed":"Pending")
                </td>
            </tr>
        </table>
    </div>
</section>