﻿@model IEnumerable<Rekla.ViewModel.Task.RequstedServiceViewModel>

<section class="features">

    <div class="container">
        <h3>History Of Services</h3>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Service)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Breif)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Area)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OnDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Completed)
                </th>
            </tr>

            @foreach (var item in Model) {
        <tr class="@(item.Completed?"success":"danger")">
            <td>
                @Html.ActionLink(item.Service, "Details", new { id = item.Id })
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                @(item.Completed ? "Completed" : "Pending")

                <a href="@Url.Action("CompleteTask", "ServiceRequests",new {id=item.Id})">Complete</a>
            </td>
        </tr>
    }

        </table>
    </div>
</section>
