﻿@model Rekla.ViewModel.User.UserProfileVM

<section class="features">
    <div class="container">
        <h3>@($"{Model.Name}'s Profile")</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="@Model.Image" alt="@($"{ Model.Name}'s Profile picture ")" />
            </div>
            <div class="col-md-8">
                <table class="table">
                    <tr>
                        <td>Email</td>
                        <td>@Model.EmailId</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            <address>
                                @Model.Address
                            </address>
                        </td>
                    </tr>
                    <tr>
                        <td>Mobile No.</td>
                        <td>@Model.MobileNo</td>
                    </tr>

                </table>
            </div>
        </div>
</div>
</section>