﻿@model Rekla.ViewModel.TaskCompletionVM
<div class="container">


    <section class="content-header">
        <h1>
            Task Cancellation
        </h1>

    </section>
    <div class="clearfix"></div>
    <section class="content" style="margin-top:-200px !important">
        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(i => i.TaskId)
                    @Html.HiddenFor(i=>i.ByUserId)
                    @Html.HiddenFor(i=>i.ByUserName)
                    <div class="box box-primary">
                        <div class="box-header with-border">

                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->

                        <div class="box-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TaskName,"Task Name", htmlAttributes: new { @class = " " })
                                @Html.EditorFor(model => model.TaskName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TaskName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TaskDetails,"Task Details", htmlAttributes: new { @class = " " })
                                @Html.TextAreaFor(model => model.TaskDetails, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TaskDetails, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Complete, htmlAttributes: new { @class = " " })
                                @Html.EditorFor(model => model.Complete, new { htmlAttributes = new { @class = "checkbox" }})
                                @Html.ValidationMessageFor(model => model.Complete, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.OnDateTime,"On Date Time", htmlAttributes: new { @class = " " })
                                @Html.EditorFor(model => model.OnDateTime, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OnDateTime, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                            <a href="~/Users/Task/index" class="btn btn-danger pull-right" style="margin-right: 5px"><i class="fa fa-remove"></i></a>
                        </div>

                    </div>
                }
            </div>
        </div>
    </section>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "false")
}
