﻿@model Rekla.ViewModel.TaskCancellationVM
@{
    ViewBag.Title = "Task Cancellation";
}

<div class="container">


    <section class="content-header" >
        <h1>
            Task Cancellation
        </h1>

    </section>
    <div class="clearfix"></div>
    <section class="content" style="margin-top:-200px !important">
        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    @Html.HiddenFor(i=>i.TaskId)
                    <div class="box box-primary">
                        <div class="box-header with-border">
                           
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->

                        <div class="box-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TaskName, htmlAttributes: new { @class = " " })
                                @Html.EditorFor(model => model.TaskName, new { htmlAttributes = new { @class = "form-control" }})
                                @Html.ValidationMessageFor(model => model.TaskName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Reason, htmlAttributes: new {@class = " "})
                                @Html.TextAreaFor(model => model.Reason, new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.Reason, "", new {@class = "text-danger"})
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Type, htmlAttributes: new {@class = " "})
                                @Html.EnumDropDownListFor(model => model.Type, new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.Type, "", new {@class = "text-danger"})
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.RescheduleDate, htmlAttributes: new {@class = " "})
                                @Html.EditorFor(model => model.RescheduleDate, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.RescheduleDate, "", new {@class = "text-danger"})
                            </div>

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                            <a href="~Users/Task/index" class="btn btn-danger pull-right" style="margin-right: 5px"><i class="fa fa-remove"></i></a>
                        </div>

                    </div>
            }
            </div>
        </div>
    </section>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "false")
}


